<!DOCTYPE html>
<html>

<head>

    <title>Contact Us</title>

    <style>

        body{
            font-family: Arial;
            background:#f4f4f4;
            margin:0;
            padding:0;
        }

        .container{
            width:60%;
            margin:50px auto;
            background:white;
            padding:30px;
            border-radius:10px;
            box-shadow:0px 0px 10px gray;
        }

        h1{
            text-align:center;
            color:#007bff;
        }

        .info{
            font-size:18px;
            line-height:2;
        }

        .nav{
            text-align:center;
            margin-bottom:20px;
        }

        .nav a{
            text-decoration:none;
            margin:0 10px;
            color:white;
            background:#007bff;
            padding:10px 15px;
            border-radius:5px;
            font-weight:bold;
        }

        .nav a:hover{
            background:#0056b3;
        }

    </style>

</head>

<body>

<div class="container">

    <div class="nav">

        <a href="/">Home</a>

        <a href="/about">About Us</a>

        <a href="/contact">Contact Us</a>

        <a href="/students/add">Add Student</a>

    </div>

    <h1>Contact Us</h1>

    <div class="info">

        <p><b>Email:</b> abcinstitute@gmail.com</p>

        <p><b>Phone:</b> +91 8540630096</p>

        <p><b>Address:</b> Noida, Uttar Pradesh, India</p>

    </div>

</div>

</body>
</html>